body
{
  font-family: 'Roboto', sans-serif;
}

table{
  width: 800px;
  height: 600px;
  overflow: auto;
  border-collapse: collapse;
  text-align: center;
}

thead
{
  background-color: rgba(173, 216, 230);
  position: sticky;
  top: 1px;
  z-index: 10;
}

tr td:first-child
{
  background-color: rgba(173, 216, 230);
  font-weight: 700;
  padding: 20px;
  position: sticky;
  left: 0;
}  

th
{
  padding: 12px;
  padding-left: 15px;
}

tr 
{
  padding: 10px;
}

tr:nth-child(even)
 { background: hsl(150, 6%, 93%); }

.wrapper-scroll
{
  width: 700px;
  height: 400px;
  margin: 70px; 
  overflow-y: scroll;
  position: relative;
} 

















